<!DOCTYPE html>
<html>
<head>
    <title>AD Search Engine</title> 
</head> 

<body> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p align="center"><strong><font size=20>AD SEARCH ENGINE</font></strong></p>
<form name="form1"> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div align="center">
    <input type="text" name="Recherche" placeholder="Ta recherche ici..."><input type="button" value="Rechercher..." OnClick="rech(form1)">
    </div>   
</form>
    
</body> 
</html>